*{
    /* font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; */
    font-family: "JM","微软雅黑";
}

@font-face {
    font-family: 'JM';
    src: url('fonts/webfonts/JetBrainsMono-Medium.woff2');
}

blockquote {
    background-color: lightgrey;
    margin: 16px 0
}

blockquote > p {
    padding: 4px 4px;
}

blockquote code {
    background-color: #e1e1e1 !important;
    border: 2px dashed #646464 !important;
}

pre {
    border: 2px dashed lightgrey;
    overflow-x: auto;
}

pre > code {
    font-family: 'JM';
    padding: 5px !important;
}